name: NuxtHub Deployment
on: push
jobs:
  deploy:
    name: "Deploys to NuxtHub"
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: Install dependencies
        run: bun install
      - name: Build & Deploy to NuxtHub
        uses: nuxt-hub/action@v2
